<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Ingresa!</h1>
                                </div>
                                <div class="user">
                                    <div class="form-group">

                                        <div><label for="email"></label></div>
                                        <input type="email" [(ngModel)]="email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Correo Electronico">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" [(ngModel)]="passwd"
                                            class="form-control form-control-user" id="exampleInputPassword"
                                            placeholder="Contraseña">
                                    </div>

                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Recuerdame!</label>
                                        </div>
                                    </div>

                                    <div><input type="submit" class="btn btn-primary btn-user btn-block" value="Entrar"
                                            (click)="login()"></div>
                                    <hr>
                                    <a href="index.html" class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Login con Google
                                    </a>
                                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> Login con Facebook
                                    </a>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">¿Olvide mi contraseña?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" routerLink="/registrar" routerLinkActive="active">Crear mi cuenta</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
